*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
/panel/build
/key.jks
/signing.gradle
/debug_build.sh
/.gitignore.save
/scripts/local_vps_depoloy.sh
/pepk.jar
